@import url(style.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

.container{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    background-color: grey;
    }

.menu{
    width: 500px;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    left: 2px;
    position: absolute;
    top: 0;
    }
    
.menu a{
    margin: 60px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: relative;
    transition: 0.3s ease;
    color: #000;
    }
    
.menu a:nth-child(1){
    color: #e58f00;
    font-weight: bold;
    }
    
.menu a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    background: #000;
    transition: 0.3s ease;
    }
    
.menu a:hover{
    color: #000;
    transition: 0.2s ease;
    }
    
.menu a:hover::after{
    width: 100%;
    transition: 0.2s ease;
    }


.menu2{
    width: 100px;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    left: 94%;
    position: absolute;
    top: 0;
    }
    
.menu2 a{
    margin: 60px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: relative;
    transition: 0.3s ease;
    color: #000;
    }
    
.menu2 a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    background: #000;
    transition: 0.3s ease;
    }
    
.menu2 a:hover{
    color: #000;
    transition: 0.2s ease;
    }
    
.menu2 a:hover::after{
    width: 100%;
    transition: 0.2s ease;
    }


.texto, .button{
    flex-direction: column;
    width: 400px;
    height: 100px;
    margin: 20px;
    left:140%;
    top: 380px;
    position: relative;
    justify-content: center;
    align-content: center;
    display: flex;
    }

h1{
    color: #e58f00;
    margin: 0px 0px 20px 0px;
}

p{
    color:#fff;
}
    

.button button{
width: 200px;
height: 50px;
margin: 20px;
position: relative;
border: 3px solid #e58f00;
border-radius: 5px;
color: #000;
background: #e58f00;
cursor: pointer;
transition: 0.3s ease;
}

.content-button button{
background: #fff;
color: #fff;
}

button:hover{
background: #fff;
color: #000;
transition: 0.2s ease;
}
