@import url(style.css);
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.pagina1{
    width: 100%;
    height: 100vh;
    background-image: url(/storage/img/placeYourImageHere0.png);
    background-size: cover;
}

.container{
    background-color: #323239d5;
    height: 100vh;
    background-position: center;
}

.header_1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.left{
    display: flex;
    gap: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}

.right{
    display: flex;
    gap: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}

.home1{
    color:#e58f00;
    font-weight: bold;
}

.about1, .menus1, .offer1, .gallery1, .contact1 {
    color:#ffff;
}

.blog1{
    color: white;
}

.center{
    display: flex;
    gap: 30px;
}

.contenido1{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-self: center;
    align-items: left;
    gap: 15px;
}

.img1{
    display: flex;
    width: 90vh;
    align-self: center;
    justify-content: center;
    margin-left:30px;
}

.h1{
    color: #e58f00;
    font-family: "Roboto Slab", serif;
    font-size: 60px;
}

.p1{
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #ffff;
    font-size: 20px;
}

.b1{
    display: flex;
    color: #323239;
    width: 40%;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 25px;
    background-color: #e58f00;
    padding: 15px;
    border: #e58f00;
    border-radius: 5xp;
    justify-content: center;
}

.pagina2{
    background-color: #17171e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 30px;
}

.img2{
    width: 500px;
    height: 540px;
}

.contenido2{
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    gap:5px;
}

.h2{
    font-size: 50px;
    color: #ffff;
}

.p2{
    color: #ffff;
    font-size: 30px;
}
